.imgcaixa{
    position: absolute;
}
.texto1{

    margin-left: 330px;
}
.valorsaque{
    position: absolute;
    margin-left: 330px;
}
#s1{
    margin-top: 20px;
    margin-left: 465px;
}
.botao{
    margin-left: 330px;
    margin-top: 18px;
}
#d1 {
    margin-left: 330px;
     margin-top: 18px;
}
#d2 {
    margin-left: 330px;
}
#d3 {
    margin-left: 330px;
}